<%- include('includes/head') %>
    <%- include('includes/nav')%>
        <div class="container">
            <div class="row">
                <%if (postagens) { %>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h2 class="card-title"><%= postagens.titulo %></h2>
                            <hr>
                            <p>Data de publicação: <small><%= postagens.date%></small></p>
                            <hr>
                            <h6 class="card-subtitule"><%= postagens.conteudo %></h6>
                        </div>
                    </div>
                    <% } else { %>
                        <h6>Não existe postagem!</h6>
                    <% }%>
            </div>
        </div>
        <%- include('includes/footer') %>